.Hero{
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;

  @media screen and (max-width: 768px) {
    padding: 80px 0;
  }
  @media screen and (max-width: 480px) {
    padding: 60px 0;
  }

  &-Prefix{
    margin-bottom: 22px;
    font-size: 15px;
    font-family: var(--font-monospace);
    color: var(--accent-color);
    line-height: 1.1;
    text-indent: 2px;

    @media screen and (max-width: 480px) {
      margin-bottom: 15px;
    }
  }

  &-Heading{
    font-size: clamp(32px, 6vw, 70px);
    font-weight: 700;

    &_primary{
      color: var(--text-color-white);
      line-height: 1.1;
      margin-bottom: 10px;
    }
    &_secondary{
      color: var(--text-color-grey);
      line-height: 1;
      margin-bottom: 30px;
    }
  }

  &-Description{
    max-width: 500px;
    margin-bottom: 40px;
  }

  &-Button{
    font-family: var(--font-monospace);
    color: var(--accent-color);
    font-size: 14px;
    padding: 1rem 2rem;
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    transition: var(--transition);

    &:hover{
      background-color: var(--accent-glow-color);
    }
  }

}