.Skills{
  max-width: 800px;

  &-Content{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    @media screen and (max-width: 480px){
      flex-flow: row wrap;
    }
  }

  &-Text{
    flex: 0 0 auto;
    background-color: var(--bg-color);

    @media screen and (max-width: 480px){
      flex: 1 1 auto;
    }
  }
  &-Section{
    margin-bottom: 10px;
  }
  &-Title{
    font-size: 18px;
    margin-bottom: 3px;
    color: var(--text-color-white);
  }
  &-Paragraph{
    position: relative;
    text-indent: 25px;
    margin-bottom: 5px;

    &::before{
      content: "▹";
      position: absolute;
      left: -25px;
      top: 6px;
      color: var(--accent-color);
      font-size: 12px;
      line-height: 12px;
    }
  }

  &-Cloud{
    flex: 1 1 100px;
    margin-left: 10px;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 480px){
      flex: 0 0 100%;
      margin-left: 0;
      margin-bottom: 10px;
      padding-top: 30%;
      order: -1;
    }

    &Wrapper{
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      @media screen and (max-width: 480px){
        position: absolute;
      }
      > div {
        height: 100%;
        width: 100%;
        overflow: hidden !important;
        > div{
          font-family: var(--font-monospace) !important;
          font-size: 14px !important;
          transition: all 2s ease-in-out;
          color: var(--text-color-white);
        }
      }
    }
  }
}