.Header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  height: 100px;
  background-color: var(--bg-color);
  transform: translateY(0px);
  transition: var(--transition);

  &_hidden{
    transform: translateY(-100px);

    @media screen and (max-width: 768px) {
      .Header-Nav{
        transform: translateY(100px);
      }
    }
  }
  &_scroll{
    height: 70px;
    box-shadow: 0 10px 30px -10px var(--shadow-color);
    background-color: var(--bg-low-opacity-color);
    backdrop-filter: blur(10px);
  }
  &_withSidebar{
    @media screen and (max-width: 768px) {
      backdrop-filter: none;

      & ~ *{
        filter: blur(5px) brightness(0.7);
      }

      .Header-Overlay{
        display: block;
      }

      .Header-Nav{
        right: 0;
        visibility: visible;
      }
      .Header-Hamburger{
        &Line{
          opacity: 0;
        }
        &::before{
          top: calc(50% - 1px);
          transform: rotate(45deg);
        }
        &::after{
          bottom: calc(50% - 1px);
          transform: rotate(135deg);
        }
      }
    }
  }

  &-Container{
    height: 100%;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition);

    @media screen and (max-width: 1080px) {
      padding: 0 40px;
    }

    @media screen and (max-width: 768px) {
      padding: 0 25px;
    }
  }

  &-Logo{
    position: relative;
    z-index: 100;
    height: 30px;
    width: 30px;

    border: 2px solid var(--accent-color);
    transform: rotate(45deg);
    transform-origin: center;

    div{
      font-size: 18px;
      color: var(--accent-color);
      transform: rotate(-45deg) translateX(8px);
      transform-origin: center;
    }
  }

  &-Hamburger{
    display: none;
    height: 24px;
    width: 28px;
    position: relative;
    z-index: 100;
    cursor: pointer;

    @mixin HamburgerChild{
      position: absolute;
      left: 0;
      width: 100%;
      content: '';
      height: 2px;
      border-radius: 2px;
      background-color: var(--accent-color);
      transform: rotate(0);
      transform-origin: center;
      transition: var(--transition);
    }
    &Line{
      top: calc(50% - 1px);
      opacity: 1;
      @include HamburgerChild;
    }
    &::before{
      top: 0;
      @include HamburgerChild;
    }
    &::after{
      bottom: 0;
      @include HamburgerChild;
    }
    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &-Overlay{
    display: none;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  &-Nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    @media screen and (max-width: 768px) {
      position: fixed;
      top: 0;
      height: 100vh;
      right: -100vw;
      width: calc(min(75vw, 400px));
      z-index: 30;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      background-color: var(--bg-lighter-color);
      box-shadow: -10px 0px 30px -15px var(--shadow-color);
      visibility: hidden;
      transition: var(--transition);
    }

    &List{
      display: flex;
      flex-flow: row nowrap;

      @media screen and (max-width: 768px) {
        width: 100%;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
      }
    }
    &Item{
      margin: 0 5px;

      @media screen and (max-width: 768px) {
        margin: 0 0 20px;
        width: 100%;
      }
    }
    &Link{
      display: block;
      padding: 10px;
      color: var(--text-color-white);
      font-family: var(--font-monospace);
      font-size: 13px;
      transition: color 0.2s ease-in-out;

      span{
        margin-right: 5px;
        color: var(--accent-color);
        font-size: 12px;

        @media screen and (max-width: 768px) {
          display: block;
          margin-right: 0;
          margin-bottom: 5px;
          font-size: 14px;
          text-align: center;
        }
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0 20px 20px;
        font-size: 18px;
        text-align: center;
      }
    }
    &Language{
      border: 1px solid var(--accent-color);
      margin-left: 15px;
      border-radius: var(--border-radius);
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      @media screen and (max-width: 768px) {
        margin-left: 0;
        padding: 13px 30px;
      }

      &:hover{
        background-color: var(--accent-glow-color);
      }

      &Icon{
        height: 22px;
        width: 22px;
        margin-right: 4px;

        @media screen and (max-width: 768px) {
          height: 24px;
          width: 24px;
          margin-right: 6px;
        }

        svg{
          display: block;
          height: 100%;
          width: 100%;
          fill: var(--accent-color);
        }
      }
      &Text{
        color: var(--accent-color);
        font-size: 13px;

        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}