@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

:root{
  --transition: all 0.25s ease-in-out;

  --bg-loading-color: rgb(2,12,27);
  --bg-color: rgb(10, 25, 47);  // 40, 44, 52
  --bg-low-opacity-color: rgba(10, 25, 47, 0.8);
  --bg-lighter-color: rgb(23, 42, 69);
  --bg-lightest-color: rgb(48, 60, 85);
  --shadow-color: rgba(2,12,27,0.7);
  --text-color-extra-white: rgb(230 241 255);
  --text-color-white: rgb(204,214,246);
  --text-color-light-grey: rgb(168, 178, 209);
  --text-color-grey: rgb(136,146,176);

  --accent-color: rgb(100, 255, 218);
  --accent-glow-color: rgba(100,255,218,0.1);

  --font-sans-serif: 'Roboto', 'San Francisco', 'Helvetica Neue', -apple-system, sans-serif;
  --font-monospace: "Roboto Mono", "SF Mono", "Fira Mono", monospace;

  --border-radius: 4px;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  width: 100%;
}
html{
  background-color: var(--bg-color);
}
body{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  background-color: var(--bg-loading-color);
  color: var(--text-color-grey);
  font-size: 17px;
  line-height: 1.5;
  font-family: var(--font-sans-serif);
  counter-reset: section section-link;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}
ul, ol{
  list-style: none;
  margin: 0;
}
a{
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
  }
}

section{
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 100px;
  padding-bottom: 100px;

  @media screen and (max-width: 768px) {
    padding: 80px 0;
  }
  @media screen and (max-width: 480px) {
    padding: 60px 0;
  }
}

::selection{
  background-color: var(--text-color-grey);
  color: var(--text-color-white);
}

html.sr .sr{
  visibility: hidden;
}

.Main{
  padding: 0 150px;
  transition: var(--transition);

  @media screen and (max-width: 1080px) {
    padding: 0 100px;
  }

  @media screen and (max-width: 768px) {
    padding: 0 50px;
  }
  @media screen and (max-width: 480px) {
    padding: 0 25px;
  }
}

.UnderlinedLink{
  position: relative;
  display: inline-block;
  color: var(--accent-color);

  &:hover::after{
    width: 100%;
  }

  &::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0.2em;
    background-color: var(--accent-color);
    opacity: 0.6;
    transition: var(--transition);
  }
}


// CSSTransition
.fade{
  &-enter{
    opacity: 0;
  }
  &-enter-active{
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
  &up{
    &-enter{
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    }
    &-enter-active{
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    }
  }
  &down{
    &-enter{
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    }
    &-enter-active{
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    }
  }
}